body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black ;
}
.second{
  color: white;
  background-color: rgb(133, 55, 55);
  padding: 2vh;
  width: 20vw;
  height: 40vh;
text-align: center;
border: 2px solid rgb(88, 232, 39);
border-radius: 2vw;
}
.frist{
  color: white;
  background-color: green;
  padding: 5vh;
}
img{
  width: 10vw;
  height: 20vh;
  border-radius: 50%;
}
.btn_2{
  border: none;
  padding: 1.5vh;
  background-color:green;
  color: white;
  border-radius: 1vh;
}